/*html {
	text-align: center;
}
*/
#taskName {
	color: #000;
	font-style: bold;
}

.inline {
	/*display: block;*/
	/*width: auto;*/
	display: inline;
	/*width: 200px;*/
}

/*li {
	display: inline;
}*/