#taskName {
	color: #000;
	font-style: bold;
}

.inline {
	/*display: block;*/
	/*width: auto;*/
	display: inline;
	/*width: 200px;*/
}


/*.submit_btn  {
	margin-left: 5%;
}*/

.start_btn {
	margin-left: 10%;
}

.renamer::-webkit-input-placeholder {
   color: #000;
}

/*.btn-tiny {
	width: vh;
	height: 2vh;
}*/