/*html {
	text-align: center;
}
*/
#taskName {
	color: #000;
	font-style: bold;
}

.inline {
	/*display: block;*/
	/*width: auto;*/
	display: inline;
	/*width: 200px;*/
}

/*li {
	display: inline;
}*/

.submit_btn  {
	margin-left: 5%;
}

/*nav {
    @extend .blue-text, .text-lighten-4;
 }*/
 nav {
 	background: green darken-1;
 }