<div class="card">
    <form ng-submit="genTasks(tasks, time)" novalidate> 
        <input type="text" ng-model="tasks" placeholder="Number of tasks?" ng-required="true">
        <input type="text" ng-model="time" placeholder="Time for tasks?" ng-required="true"> 
        <button type="submit" ng-disabled="myform.$invalid">
            Submit
        </button>
    </form>

    <ul>
        <li ng-repeat="task in taskList">

            <input type="text" placeholder="{{task.name}}" ng-model="taskName" id="taskName">
            <button type="submit" ng-click="renameTask(task, taskName)">
                Rename
            </button>
            time: {{task.time}} 
            <button ng-click="startTask()">
                Start
            </button>
            <button ng-click="stopTask(task)">
                Stop
            </button>
            <button ng-click="deleteTask(task)">
                Delete Task
            </button>
        </li> 
    </ul>
    <ul>
        <li ng-repeat="task in delTaskList">

           <!--  <input type="text" placeholder="{{task.name}}" ng-model="taskName" id="taskName"> -->
            {{task.name}} | 
            time: {{task.time}} 
        </li> 
    </ul>


</div>


<!-- goal 1: display tasks in firebase -->
<!-- goal 2: organize more neatly, hide the ability to genTasks if tasks already exist in firebase. Turn the submit button into a restart button -->
<!-- if task already defined, add special styling to make black -->
<!-- add a complete button which allows user to cross off tasks -->
<!-- add timer function to each task -->
<!-- add start button and end button -->
<!-- dynamically retime tasks according to timer -->